[submodule "Component/compiler-extension"]
	path = Component/compiler-extension
	url = git@github.com:adeira/compiler-extension.git
[submodule "Component/monolog"]
	path = Component/monolog
	url = git@github.com:adeira/monolog.git
[submodule "Component/workflow"]
	path = Component/workflow
	url = git@github.com:adeira/workflow.git
[submodule "Component/presenter-factory"]
	path = Component/presenter-factory
	url = git@github.com:adeira/presenter-factory.git
